<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <hr><h1>Editar grupo</h1>

<form th:action="@{/Grupos/save}" th:object="${grupo}" method="post">
    <input type="hidden" th:field="*{id}">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Escriba el nombre del grupo" th:field="*{nombre}" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" id="descripcion" cols="12" rows="3" th:field="*{descripcion}" required></textarea>
            </div>
        </div>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a th:href="@{/Grupos}" class="btn btn-secondary">Regresar</a>
</form>
</div>